@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");

@font-face {
  font-family: "Sprat";
  src: url("/fonts/sprat/Sprat-Regularlight.otf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  font-family: "Lato", san-serif;
  font-weight: 300;
  cursor: crosshair;
}

.ojuju {
  font-family: "Ojuju", san-serif;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
  /* font-weight: 300; */
}
h2 {
  font-size: calc(1.325rem + 0.9vw);
  /* font-weight: 300; */
}
h3 {
  font-size: calc(1.3rem + 0.6vw);
}
h4 {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  /* letter-spacing: 1; */
  /* font-weight: 100; */
  /* font-size: 1.1rem; */
  /* padding: 0 0 1rem 0; */
}
h5 {
  font-size: 1.25rem;
}

.work-detail p {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
}

.navCntr {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: clamp(10px, 3vw, 17px);
  width: clamp(160px, 8vw, 400px);
  text-transform: uppercase;
  align-self: flex-end;
  text-align: justify;
}

@media (max-width: 768px) {
  .navCntr {
    width: 100%;
  }
}

/* .navCntr2 {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: clamp(10px, 3vw, 17px);
  width: clamp(160px, 8vw, 400px);
  text-transform: uppercase;
  align-self: flex-end;
  text-align: justify;
}

@media (max-width: 768px) {
  .navCntr2 {
    width: 110%;
  }
} */

.link {
  letter-spacing: 1em;
  direction: rtl;
  display: inline-block;
  text-indent: -1em;
}

@media (min-width: 1200px) {
  .h1,
  h1 {
    font-size: 2.5rem;
  }
  .h2,
  h2 {
    font-size: 2rem;
  }
  .h3,
  h3 {
    font-size: 1.75rem;
  }
  .h4,
  h4 {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.carousel .control-dots .dot {
  border-radius: 0 !important;
  width: 30px !important;
  height: 5px !important;
  margin: 0 4px !important;
}

.cross-hair-grid {
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.cross-hairs {
  display: grid;
  grid-template-columns: repeat(5, auto);
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 123.5%;
  overflow: hidden;
}

@media (max-width: 768px) {
  .cross-hairs {
    grid-template-columns: repeat(3, auto); /* Show only 3 cross-hairs */
  }
}

.cross-hair {
  width: 100px;
  overflow: hidden;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  filter: brightness(0) saturate(100%);
  padding-left: 10px;
}

.sky {
  width: 80%;
  margin-bottom: 40px;
  filter: saturate(1) contrast(5000%) invert(100%) grayscale(100%)
    brightness(600%);
}

.sky-gif {
  filter: saturate(1) contrast(5000%) invert(100%) grayscale(100%)
    brightness(600%);
}

.sky-gif:hover {
  filter: none;
}

h1 {
  font-size: clamp(24px, 3vw, 40px);
}

.navbar h2,
.workcard h2 {
  font-size: clamp(10px, 3vw, 17px) !important;
}

.detail-section h3 {
  font-size: clamp(2rem, 2vw, 4rem);
}

p {
  font-size: min(3vw, 16px);
}

.zigzag-header p {
  font-size: clamp(1rem, 2.5vw, 1.3rem);
}

.description > p {
  font-size: 0.8rem;
}

.one {
  position: absolute;
  left: 10px;
  bottom: 0;
}

.box1 {
  height: 35vh;
  width: 25px;
  border-right: 0.4px dashed black;
  border-top: 0.4px solid black;
}

.box2 {
  height: 200px;
  width: 25px;
  border-right: 0.4px dashed black;
  border-top: 0.4px solid black;
}

.home-wrapper {
  height: calc(100% - 100px);
}

section {
  box-sizing: border-box;
  width: 100%;
  /* height: 101vh; */
  /* display: flex; */
  /* justify-content: flex-start; */
  overflow: hidden;
}

section span {
  display: block;
  transform: translateX(-50px);
  opacity: 0;
}

.thumbnail {
  width: 100%;
  height: 25vw;
  object-fit: cover;
  transition: height 0.3s ease; /* Smooth transition */
}

.thumbnail:hover {
  height: 26vw;
}

li::marker {
  color: #fff;
}

@media (max-width: 768px) {
  .MuiButtonBase-root.MuiButton-sizeMedium {
    font-size: 0.8rem !important;
  }

  .MuiButtonBase-root.MuiButton-sizeLarge {
    font-size: 1rem !important;
  }
}
.MuiButtonBase-root.MuiButton-sizeMedium {
  font-size: 1.1rem;
}

.MuiButtonBase-root.MuiButton-sizeLarge {
  font-size: 1.25rem;
}
@media (max-width: 900px) {
  .thumbnail {
    height: 100%; /* Set height to 200px on smaller screens */
  }

  .thumbnail:hover {
    height: 100%;
  }
}

.bio {
  font-size: min(3vw, 19px) !important;
}

@media screen and (max-width: 900px) {
  .extra-info {
    display: none;
  }
}

@media (max-width: 900px) {
  .MuiImageList-root {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .MuiImageList-root {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .MuiImageList-root {
    grid-template-columns: repeat(1, 1fr);
  }
}
